.Navigators {
  display: flex;
}

.Navigators .btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;

  color: #272822;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
}

.Navigators .btn:hover {
  background-color: #fff;
}

.Navigators .btn.active {
  color: orange;
}
